.post-image.center-align
  = image_tag @post.image.url(:x_large)
.container
  %h1.posts-header
    = @post.title
  %p.post-details
    %strong
      Posted by: 
      = @post.author.full_name
      %br
      on 
      = @post.created_at.strftime("%B %d, %Y")
  %p.post-content
    = @post.content
  %p
    Tags:
    - @post.tags.each do |tag|
      .chip
        = tag.name
  - if @post.author == current_user
    %p
      %strong
        Status:
      = @post.status
    = link_to "Edit", edit_post_path(@post)
    = link_to "Delete", @post, data: {confirm: "Are you sure you want to delete this post?"}, method: :delete
  = link_to "Back", posts_path
