
!!! HTML
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    "https://fonts.googleapis.com/icon?family=Material+Icons"
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Fredoka+One'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
      .nav-wrapper

        =link_to "DevReboot", root_path, id: "site-title"
        =link_to "#", :data => { :"data-activates" => "mobile-demo" }, class: "button-collapse" do
          %i.material-icons menu
        end
        %ul.right.hide-on-med-and-down
          - if user_signed_in?
            %li
              = link_to "New Post", new_post_path
            %li
              = link_to "Dashboard", dashboard_path
            %li
              = link_to "Logout", destroy_user_session_path, { method: :delete }
          -else
            %li
              =link_to "Login", new_user_session_path
            %li
              =link_to "Register", new_user_registration_path
          %li
            =link_to "Contributors"
          %li
            =link_to "Categories", categories_path
        %ul.side-nav#mobile-demo
          - if user_signed_in?
            %li
              = link_to "New Post", new_post_path
            %li
              = link_to "Dashboard"
          -else
            %li
              =link_to "Login", new_user_session_path
            %li
              =link_to "Register", new_user_registration_path
          %li
            =link_to "About"
          %li
            =link_to "Contributors"
          %li
            =link_to "Categories", categories_path
    .container
      %p.notice
        = notice
      %p.alert
        = alert
    =yield
    .container
      %footer Copyright &copy; 2016 Becca and Farman, All Rights Reserved
  -#
  -# #login.modal
  -#   .modal-content
  -#     = render "devise/sessions/form"
